@page "{pages=1}"
@model ReportPlatform.Web.Pages.OrderReportModel
@{
}

<div class="d-flex justify-content-center">
    <div class="a4-element">
        @Html.Raw(Model.htmlContent)
    </div>
</div>