<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReportPlatform</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"><i class="bi bi-house-door-fill"></i></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span aria-hidden="true"><i class="bi bi-plus-square-fill"></i></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span aria-hidden="true"><i class="bi bi-list-nested"></i></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empolyee">
                <span aria-hidden="true"><i class="bi bi-file-bar-graph-fill"></i></span> EmpolyeeReport
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span aria-hidden="true"><i class="bi bi-file-ruled-fill"></i></span> OrderReport
            </NavLink>
        </div>
    </nav>
</div>

