@page "/order"
@using ReportPlatform.BAL
@using ReportPlatform.BAL.Factories
@using ReportPlatform.BAL.Models
@inject IReportFactory ReportFactory;

<PageTitle>OrderReport</PageTitle>

<h1>OrderReport</h1>

<AuthorizeView>
    <Authorized>
        <div class="d-flex justify-content-center">
            <div class="a4-element">
                @htmlContent
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Authentication failed!</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private MarkupString htmlContent;

    protected override async Task OnInitializedAsync()
    {
        await RenderHtml();
    }

    // 定義一個方法來顯示原始HTML
    async Task RenderHtml()
    {
        IReport report = ReportFactory.GetReport("OrderReport");

        htmlContent = new MarkupString(await report.GetEmbedReportViewer(1));
    }
}
